.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav {
  font: var(--normal-font);
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
}
.nav-items {
  display: flex;
  gap: 70px;
}
.nav-item {
  color: var(--secondary-font-clr);
  text-decoration: none;
}
.nav-item:hover {
  color: var(--primary-font-clr);
  transition: 0.2s;
}
.nav-item:first-child {
  color: var(--primary-font-clr);
}
.nav-socials {
  display: flex;
  gap: 10px;
}

.block-container {
  text-align: center;
  margin-bottom: 170px;
}
.main-img {
  width: 170px;
  margin-bottom: 20px;
}
.full-name {
  font: var(--topic-font);
  color: var(--primary-font-clr);
}
.job-position {
  color: var(--secondary-font-clr);
  font: var(--normal-font);
}
.status {
  margin-top: 30px;
}
.discord-text {
  color: var(--green-clr);
  font: var(--normal-font);
}

@media (min-width: 0) and (max-width: 1000px) {
  nav {
    display: block;
    padding: 50px 0;
    background-color: var(--primary-bg);
  }
  .nav-items {
    display: grid;
    row-gap: 10px;
    margin-bottom: 30px;
  }
  .block-container {
    margin-bottom: 70px;
  }
}
